* {
	margin: 0;
	padding: 0;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
}

#loading.fly #loader, #loading.fly .circle {
	-webkit-animation: fly-away 700ms 1;
	-moz-animation: fly-away 700ms 1;
	-ms-animation: fly-away 700ms 1;
}

#loading .circle {
	width: 206px;
	height: 206px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -103px 0 0 -103px;
}
	
#loading #loader {
		width: 220px;
		height: 220px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -110px 0 0 -110px;
		background: transparent;
}