html, body { 
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: proxima-nova-alt-condensed,Helvetica,proxima-nova-alt-condensed;
}
div,p {
	color:#fff;
}
a {
	color:#fff;
	text-decoration: none;
	transition:color .33s;
	-webkit-transition:color .33s;
	-moz-transition:color .33s;
	-ms-transition:color .33s;
	-o-transition:color .33s;
}
h5 { color:#fff; font-size:14px; font-weight:300;}
a:hover {
	color:#0090c7;
	text-decoration:none;	
}
a:visited {
	color:#fff;
	text-decoration:none;
}
#title {
	position:relative;
	width:960px;
	display:block;
	margin:0 auto;
	padding-top:50px;
}
h1 { 
	color:#fff;
	font-family:proxima-nova-alt-condensed,Helvetica,sans-serif;
	font-size:30px;
	font-weight:100;
	margin:0;
}
p { text-align:left; }
span.small {
	font-size:20px;
}
#wrapper {
	width:100%;
	height:auto!important;
	min-height:100%;
	position:relative;
	text-align: center;
	background:-webkit-radial-gradient(circle,transparent,#040506),-webkit-linear-gradient(top,#646C72,#171D22) #111;
	background:-moz-radial-gradient(circle,transparent,#040506),-moz-linear-gradient(top,#646C72,#171D22) #111;
	background:-o-radial-gradient(circle,transparent,#040506),-moz-linear-gradient(top,#646C72,#171D22) #111;	
	background:-ms-radial-gradient(circle,transparent,#040506),-moz-linear-gradient(top,#646C72,#171D22) #111;
}
#container {
	margin:70px auto 0px;
	width:960px;
	height:100%;
	display:block;
	text-align: center;
}
body.frontpage #container { width:100%; }
.icon {
	width:250px;
	height:148px;
	display:inline-block;
	margin:15px;
	z-index: 101;
}
.icon a {
	font-family:franklin-gothic-ext-comp-urw;
	font-size:22px;
	position: relative;
}
.icon a:hover { color:#0090c7; }
.icon img {
	position:relative;
	margin:0;
	padding:0;
	z-index: 0;
	border:10px solid #222;
	box-shadow:inset 0px 0px 10px 10px rgba(0,0,0,0.25),inset 0px 0px 20px 20px rgba(0,0,0,0.15),inset 0px 0px 30px 30px rgba(0,0,0,0.05),inset 0px 0px 40px 40px rgba(0,0,0,0.025),0px 0px 10px rgba(255,255,255,0.1),0px 0px 30px rgba(255,255,255,0.01);
}
.icon img,.icon .back.face {
	border-radius:10px;
}
.icon:first-child {
	margin-left:0px;
}
.icon:last-child {
	margin-right:0px;
}
.icon {
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	-ms-perspective: 800;
	}
.face {
	transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
	transition: transform .25s ease-out 0.15s;
		-webkit-transition: -webkit-transform .25s ease-out .15s;
			-moz-transition: -moz-transform .25s ease-out .15s;
				-o-transition: -o-transform .25s ease-out .15s;
					-ms-transition: -ms-transform .25s ease-out .15s;
}
.face,.face p { text-align:center; }
html.csstransforms3d .icon.flipright:hover .front.face,.icon.flipright .face.back {
	transform: rotateY(180deg); 
		-webkit-transform: rotateY(180deg); 
			-moz-transform: rotateY(180deg); 
					-o-transform: rotateY(180deg); 
							-ms-transform: rotateY(180deg);	
}
html.csstransforms3d .icon.flipright:hover .face.back {
	transform: rotateY(360deg); 
		-webkit-transform: rotateY(360deg); 
			-moz-transform: rotateY(360deg); 
					-o-transform: rotateY(360deg); 
							-ms-transform: rotateY(360deg);	
}
html.csstransforms3d .icon.flipleft:hover .front.face,.icon.flipleft .face.back {
	transform: rotateY(-180deg); 
		-webkit-transform: rotateY(-180deg); 
			-moz-transform: rotateY(-180deg); 
					-o-transform: rotateY(-180deg); 
							-ms-transform: rotateY(-180deg);	
}
html.csstransforms3d .icon.flipleft:hover .face.back {
	transform: rotateY(-360deg); 
		-webkit-transform: rotateY(-360deg); 
			-moz-transform: rotateY(-360deg); 
					-o-transform: rotateY(-360deg); 
							-ms-transform: rotateY(-360deg);	
}
html.csstransforms3d .icon.flipup:hover .front.face,.icon.flipup .face.back {
	transform: rotateX(-180deg); 
		-webkit-transform: rotateX(-180deg); 
			-moz-transform: rotateX(-180deg); 
					-o-transform: rotateX(-180deg); 
							-ms-transform: rotateX(-180deg);	
}
html.csstransforms3d .icon.flipup:hover .face.back {
	transform: rotateX(-360deg); 
		-webkit-transform: rotateX(-360deg); 
			-moz-transform: rotateX(-360deg); 
					-o-transform: rotateX(-360deg); 
							-ms-transform: rotateX(-360deg);	
}
html.csstransforms3d .icon.flipdown:hover .front.face,.icon.flipdown .face.back {
	transform: rotateX(180deg); 
		-webkit-transform: rotateX(180deg); 
			-moz-transform: rotateX(180deg); 
					-o-transform: rotateX(180deg); 
							-ms-transform: rotateX(180deg);	
}
html.csstransforms3d .icon.flipdown:hover .face.back {
	transform: rotateX(360deg); 
		-webkit-transform: rotateX(360deg); 
			-moz-transform: rotateX(360deg); 
					-o-transform: rotateX(360deg); 
							-ms-transform: rotateX(360deg);	
}
.icon { overflow:hidden; position: relative;}
.icon .back.face { 
	z-index:0; 
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	display:table;
}
.back.face p {
	display:table-cell;
	vertical-align: middle;
}
.back.face a:hover {
	color:#2b2e30;
}
.icon .front.face { z-index:100;position:relative; }
.face {
	width:100%;
	height:100%;
}
.face > a {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
html.csstransforms3d .icon,html.csstransforms3d .face {
	backface-visibility:hidden;
	 -webkit-backface-visibility: hidden; 
		 -moz-backface-visibility: hidden; 
			 -o-backface-visibility: hidden; 
				 -ms-backface-visibility: hidden; 
	}
html.csstransforms3d .icon:hover,html.csstransforms3d icon:hover .face {
	backface-visibility:visible;
	 -webkit-backface-visibility: visible; 
		 -moz-backface-visibility: visible; 
			 -o-backface-visibility: visible; 
				 -ms-backface-visibility: visible; 
	}	
.face.back {  
	box-sizing:border-box;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#0090c7;
	color:#2b2e30;
}
html.no-csstransforms3d .icon { position:relative; }
html.no-csstransforms3d .face { 
	transition:opacity 1s ease-out;
	-webkit-transition:opacity 1s ease-out;
	-moz-transition:opacity 1s ease-out;
	-o-transition:opacity 1s ease-out;
	-ms-transition:opacity 1s ease-out;
}
html.no-csstransforms3d .icon:hover .front.face { opacity:0; }
html.no-csstransforms3d .icon:hover .back.face a {
	color:#2b2e30;
}
html.no-csstransforms3d .face.back { z-index:50; opacity:1; position:absolute; top:0px; left:0px; right:0px; bottom:0px; }
.contact {
	margin-bottom:50px;
}
.contact a:hover { color:#0090c7; }
.contact span {
	color:#fff;
	font-size:10px;
}
.contact .sep {
	margin:0px 10px;
}


#straightLines {
	position: relative;
	width:50%;
	margin:50px auto 0px;
}
.aLine {
	width:100%;
	height:10px;
	position:relative;
	top:10px;
	background:#ccc;
}
.aLineHolder {
	width:100%;
	height:33px;
		padding-right:16.5px;
}

.aLineHolder canvas {
	position:absolute;
	top:0px;
	bottom:0px;
	left:-16.5px;
}

.aLineHolder button {
position:absolute;
top:-30px;
height:20px;
}
.aLineHolder button.moveLinear {
	left:0px;
}
.aLineHolder button.moveCubic {
	left:150px;
}

.chart {
position:absolute;
top:-120px;
right:-240px;
width:200px;
height:200px;
}
.xAxis {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:2px;
	background:#aaa;
}
.xAxis:after {
	position:absolute;
	top:10px;
	left:30px;
	color:#fff;
	font-size:11px;
	font-weight:300;
	content:"Time"
}
.yAxis:before {
	position:absolute;
	top:50px;
	left:-30px;
	color:#fff;
	font-size:11px;
	font-weight:300;
	content:"Position";
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	-moz-transform: rotateZ(-90deg);
	-o-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
}
.yAxis {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:2px;
	background:#aaa;
}
.chart canvas.data {
	position:absolute;
	left:0px;
	top:0px;
}

html.cubicBezier .content { padding-top:100px; }
html.cubicBezier #container { margin-top:0; }
#wrapper { padding-top:50px; }
#straightLines {
	margin-bottom:20px;
}
#code { 
	padding:20px 0px 40px;
}





table.content-table { width:100%!important; -webkit-box-sizing:border-box; height:100%; border-collapse:collapse; table-layout: fixed; }
table.content-table thead tr { border-top:none; border-bottom:none;}
table.content-table thead tr th { background-color:#2a6179; padding:13px 20px 7px; border-left:none;border-right:1px solid #204a5c; border-bottom:1px solid #204a5c; color:#fff; position:relative!important; line-height:100%; vertical-align:middle; font-weight:normal;}
table.content-table thead tr th.last { border-right:none; }
table.content-table tbody tr.odd { background-color:#fff; }
table.content-table tbody tr.even { background-color:#f2f2f2; }
table.content-table tbody tr:hover { cursor:pointer; }
table.content-table tbody tr.selected,table.content-table tbody tr.selected td { background-color:#3d7188; }
table.content-table tbody tr.selected td { color:#fff; }

table.content-table tbody tr td {
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	border-top:none;
	border-bottom:none;
	vertical-align:text-top; 
	padding:20px 20px 20px 20px;
	font-size:12px; 
	color:#666;
/*
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
*/
}
table.content-table tbody tr td:first-child { border-left:none!important; }
table.content-table tbody tr td:last-child { border-right:none!important; }
table.content-table .description { width:35%; }

.layout-row {
	margin:5px auto 10px;
}



table.sl-text-trim td {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
.prettyprint { text-align:left; }

#code ul,#code ul li { text-align:left; }
#code pre { text-align:left }


#topbar .twitter-follow-button {
	float: right;
	position: relative;
	top: 11px;
	right: 130px;
}
